<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Web ini berisikan tentang rekomendasi tempat makan/Restaurant yang terdapat deksripsi lokasi hingga informasi rating Restaurant tersebut dan ada fitur untuk kita memilih Favorite Restaurant"
    />
    <link rel="manifest" href="api.manifest.json" />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="https://use.fontawesome.com/b070c8f1df.js"></script> -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Restolunch</title>
  </head>
  <body>
    <a href="#maincontent" tabindex="0" class="skip-link">Skip to Content ?</a>
    <header>
      <custom-navbar></custom-navbar>
    </header>

    <main tabindex="0" id="maincontent"></main>

    <custom-footer></custom-footer>
  </body>
</html>
